* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body, html {
    height: 100%;
}

.wrapper {
    max-width: 800px;
    margin: 0 auto;
    height: auto;
    min-height: 100%;
}

header {
    height: 20vh;
    display: flex;
}

main {
    display: flex;
    min-height: 60vh;
}

footer {
    height: 20vh;
}
