* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body, html {
    height: 100%;
}

.wrapper {
    max-width: 800px;
    margin: 0 auto;
    height: auto;
    min-height: 100%;
}

header {
    height: 100px;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.avatar {
    border-radius: 50%;
    height: 100%;
}

.titlebox {
    margin-left: 40px;
}

.subtitle {
    font-weight: 300;
}

main {
    display: flex;
    min-height: 60vh;
}

footer {
    height: 20vh;
}
